<%- include('headerlogin', { title: 'ToDoList-login' }) %>
<div class="banner">
    <h1>ToDo List</h1>
    <p>Your personal task manager</p>
</div>
<div class="container" style="width: 30%;" >
        <%- include("login") -%>
</div>

<%- include("footerlogin")-%>
